.footer{
  
  &__col-1{
      img{
        flex-direction: row;
        margin-left: 38em;

      }
  }

  &__col-2{
          h3{
            margin-left: 15em;
            color: $color-blue;
          }
          h4{
            margin-left: -34em;
            color: $color-green;
          }
          p{
            text-align: center;
            margin-left: -45em;
            font-size: 12px;
         font-weight: 700;
        color: $color-black;
          }
  }
  &__col-3{
      display: flex;
      flex-direction: column;
      max-width: 100px;
      margin-left: 46em;
      margin-top: -10em;
      
      }

      .foot {
        list-style-type: none;
      }
      
      li
      {
        a
        {
         color: black;
        }
        #active
        {
          color: $color-blue;
          font-weight: bold;
        }
      }
      .footer-links{
        display: block;
      margin-top: 9em;
      width: 20em;    
      // font-weight: bold;
      margin-top: 1em;
      background-color: transparent; 
      border-bottom: 1px solid $color-footer-links ;
      // color:  $color-blue; 
      text-align: center;
      text-decoration: none;
      .footer-links:hover {
        font-weight: bold;
          color: $color-blue;
        }
      
       
    }
   
    .buttom-line{
      margin-top: 9em;
      padding: 1em;
      background-color:$color-blue ;
    }
     
  }
