$color-blue: #1078AD;
$color-orangy: #F4CF1B;
$color-grey: #7F7F7F;
$color-green:#369D53;
$color-black:#2B2B2C;
$color-white:#FFF;
$color-button:#BCDAEA;
$color-footer-links:rgba(16, 121, 173, 0.5);
$color-sous-titre:#1A519E;


$color_yellow:#f4cf1b;
$color_titre:#1087c7;
$color_texte:#87837f;
$color_white:white;
$color_black:black;
$color_back:#1078ad;
$color_ciel:#96c5dc;
$color_numero:#369d53;
$color_para_info:#1a519e;
$color_back_info:#d0e5f0;



